.home-container {
  max-width: 42em;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.lead > .btn-secondary,
.lead > .btn-secondary:hover,
.lead > .btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.bg-pattern {
  position: absolute;
  left: 0px;
	top: 0px;
	margin: 0px;
  padding: 0px;
	height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(./bg-pattern.png);
  opacity: 0.9;
}